/* TEXT */
.text-center{
    text-align:center;
}
.text-decoration-none{
    text-decoration:none;
}
.list-style-none{
    list-style-type: none;
}



/*fonts*/
@font-face {
    font-family: SansPro-Light;
    src: url("../fonts/SourceSansPro-Light.otf");
}
@font-face {
    font-family: Lane-Narrow;
    src: url("../fonts/Lane.ttf");
}
.SansPro-Light{
    font-family: SansPro-Light;
}
.Lane-Narrow{
    font-family: Lane-Narrow;
}



/*eerste deel*/
body{
    width: 1920px;
    margin: 0;
    background: #1e9ac9;
}
#pagetop{
    margin-left: 275px;
    margin-right: 275px;
    padding-top: 80px;
}
.img-top{
    padding-top: 70px;
}
#pagetop h3{
    font-family:SansPro-Light ;
    font-size: 14px;
    color: white;
}
#pagetopmid h2{
    font-family: Lane-Narrow;
    font-size: 36px;
    color: white;
    margin-top: 80px;
}
.btnheader1{
    padding:10px 20px;
    background: rgba(211, 211, 211, 0.3);
    border-radius:5px;
}
.btnheader2{
    padding:10px 20px;
    background: #a7cb00;
    border-radius:5px;
}
#hdrbtn > div {
    margin: 0 10px;
}
.btntxt1{
    font-family: SansPro-Light;
    font-size: 17px;
    color: white;
    text-decoration: none;
}



/*2de deel*/
#features{
    background: white;
}
.icontxt{
    font-family: Lane-Narrow;
    font-size: 24px;
    color: #c4dc55;
}
.icontxt2{
    font-family: SansPro-Light;
    font-size: 16px;
}



/*made with bootstrap*/
.container {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 0;
}
h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    text-align: center;
    color: #666;
}
.features {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}
.feature-item {
    flex-basis: 30%;
}
.icon img {
    margin-bottom: 20px;
}
.details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.image {
    flex-basis: 50%;
}
.text {
    flex-basis: 45%;
}
.responsive-image {
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
.features {
        flex-direction: column;
}

.feature-item {
    margin-bottom: 30px;
}

.details {
    flex-direction: column;
}

.image, .text {
    flex-basis: 100%;
    text-align: center;
}

.text {
    margin-top: 30px;
}
}
.bstitel{
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: Lane-Narrow;
    font-size: 32px;
}
.bssubtitel{
    font-family: Lane-Narrow;
    font-size: 24px;
    color: #b5d42a;
}
.bstxt{
    font-family: SansPro-Light;
    font-size: 16px;
}



/*detailed documentetion*/
.documentation-section, .app-feature-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.image-section {
    flex-basis: 45%;
    text-align: center;
}
.image-section img {
    width: 100%;
    max-width: 585px;
}
.text-section {
    flex-basis: 50%;
}
.text-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.text-section p {
    margin-bottom: 20px;
    color: #666;
}
.feature {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.icon {
    width: 60px;
    margin-top: 18.72px;
}
.icon2 {
    width: 30px;
    margin-top: 18.72px;
}

.feature-text h3 {
    color: #9acd32;
    margin-bottom: 5px;
}
.documentation-section .text-section {
    order: 2;
}
.documentation-section .image-section {
    order: 1;
}
.app-feature-section .text-section {
    order: 1;
}
.app-feature-section .image-section {
    order: 2;
}
.background{
    background-color: white;
}
.background2{
    background-color: #f7f7f9;
}


/*newsletter*/
.newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}
.newsletter-section h2,
.newsletter-section p {
    margin-bottom: 15px;
}

#newsletter_form {
    margin-bottom: 20px;
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-input {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
}
.subscribe-submit {
    padding: 10px 20px;
    cursor: pointer;
}
.newsletter-titel{
    font-family: Lane-Narrow;
    font-size: 32px;
    color: white;
}
.newsletter-txt{
    font-family: SansPro-Light;
    font-size: 16px;
    color: white;
}
.newsletter-background{
    background-color: #1e9ac9;
}


/*animaties*/

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out 0.5s both;
    animation: roll-in-left 0.6s ease-out 0.5s both;
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}



.bounce-in-top {
    -webkit-animation: bounce-in-top 0.7s both;
    animation: bounce-in-top 0.7s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 1.2s infinite both;
    animation: wobble-hor-bottom 1.2s infinite both;
}
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}



/* POSITIONING CSS*/
/* Display Flex */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

/* Flex Direction */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Justify Content */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/* Align Items */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Align Content */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

/* Align Self */
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

/* Order */
.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}
/* Grow and Shrink */
.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}
.wrapper{
    width:1250px;
    margin:0 auto;
}